%h3= t('.label')

%table{:id => "console_#{@loot_machine.id}", :class => 'console'}
  %thead
    %tr
      %th= t('characters.attributes.nickname')
      %th= t('loot_statuses.attributes.need')
      %th= t('loot_statuses.attributes.greed')
      %th= t('loot_statuses.attributes.status')
  %tbody
    = render :partial => 'loot_status_line',
      :collection => @loot_machine.loot_statuses,
      :as         => :loot_status
