#header
  #links
    %p.home= link_to t('header.home'), root_path
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}", :class => 'flash' if msg.is_a?(String)

  #user_login_box
    - if user_signed_in?
      = current_user.email
      - if current_user.admin?
        %span.admin (admin)
      %span.delimiter
        |
      = link_to t('header.my_infos'), edit_user_registration_path
      %span.delimiter
        |
      = link_to t('auth.sign_out'), destroy_user_session_path

    - else
      = link_to t('auth.sign_in'), new_user_session_path
      %span.delimiter
        |
      = link_to t('auth.sign_up'), new_user_registration_path
