- @loot_machine.loot_statuses.each do |loot_status|
  %tr{ :data => { :id => loot_status.id, :machine_id => loot_status.loot_machine.id, :score => loot_status.score.to_i }, :class => 'loot_status_line' }
    %td.character
      %span.nickname= link_to loot_status.character.nickname, character_path(loot_status.character)
    %td.archetype
      - unless loot_status.character.archetype.blank?
        %span= t("characters.archetypes.#{loot_status.character.archetype}")
    %td.backend
      - unless loot_status.character.archetype.blank?
        %span= t("characters.backend.#{configatron.character.backend.for.send(loot_status.character.archetype)}")
    %td.armour
      - unless loot_status.character.archetype.blank?
        %span= display_armours(loot_status.character)
    %td.role
      %span= t("characters.roles.#{loot_status.character.role}") unless loot_status.character.role.blank?
    = render_widget "loot_status_line_#{loot_status.id}", :display, :user => @user, :loot_status_id => loot_status.id
