%p= link_to @ls.loot_machine.title, loot_machine_path(@ls.loot_machine)
%ul.group
  %li
    %span.need= t('loot_statuses.attributes.need')
     : 
    = @ls.need
  %li
    %span.greed= t('loot_statuses.attributes.greed')
     : 
    = @ls.greed
  %li
    %span.status= t('loot_statuses.attributes.status')
     : 
    = t("loot_statuses.statuses.#{@ls.status}")
