= simple_form_for character do |f|
  = f.input :nickname,
      :label => t('characters.attributes.nickname')

  = f.input :level,
      :label => t('characters.attributes.level')
        
  = f.input :archetype,
      :collection   => configatron.character.archetypes,
      :as           => :radio,
      :label_method => proc { |archetype| t("characters.archetypes.#{archetype}") },
      :label        => t('characters.attributes.archetype')
  
  = f.input :role,
      :collection   => configatron.character.roles.list,
      :as           => :radio,
      :label_method => proc { |role| t("characters.roles.#{role}") },
      :label        => t('characters.attributes.role')
  
  = f.submit t('.submit')
