= simple_form_for character do |f|
  = f.input :nickname,
      :label => t('characters.attributes.nickname')

  = f.input :level,
      :as         => :select,
      :collection => (configatron.character.levels.min..configatron.character.levels.max).sort.reverse,
      :label      => t('characters.attributes.level'),
      :input_html => { :class => 'level' }
        
  = f.input :archetype,
      :collection   => configatron.character.archetypes,
      :label_method => proc { |archetype| t("characters.archetypes.#{archetype}") },
      :label        => t('characters.attributes.archetype'),
      :input_html   => { :class => 'archetype' }
  
  - configatron.character.archetypes.each do |archetype|
    %div{ :class => 'roles_for', :data => { :archetype => archetype } }
      = f.input :role,
          :collection   => configatron.character.roles.for.send(archetype),
          :as           => :radio,
          :label_method => proc { |role| t("characters.roles.#{role}") },
          :label        => t('characters.attributes.role'),
          :input_html   => { :class => 'role', :name => "roles_group_for_#{archetype}" }
  
  = f.submit t('.submit')
