- if owns?(@character)
  .button= link_to t('.edit'), edit_character_path(@character)
- elsif admin?
  .button= link_to t('.edit_as_admin'), edit_character_path(@character)
.button= link_to t('.back_to_index'), characters_path

#div
  - unless @character.public_attributes.nil?
    %h3.first.groups= t('.infos')
    = display(:show_attributes, @character)

  - unless @character.loot_statuses.empty?
    %h3.groups= t('.groups')
    = render_widget "loot_status_container_#{@character.id}"

