%table
  %thead
    %tr
      %th= t('loot_machines.attributes.title')
      %th= t('loot_statuses.attributes.need')
      %th= t('loot_statuses.attributes.greed')
      %th= t('loot_statuses.attributes.loyalty')
      %th= t('loot_statuses.attributes.score')
      %th= t('loot_statuses.attributes.status')
  %tbody
    - @loot_statuses.each do |loot_status|
      %tr{ :data => { :id => loot_status.id, :machine_id => loot_status.loot_machine.id }, :class => 'loot_status_line' }
        %td.loot_machine
          %span.title= link_to loot_status.loot_machine.title, loot_machine_path(loot_status.loot_machine)
        = render_widget "loot_status_line_#{loot_status.id}"
