- if admin?
  .button= link_to t('.edit'), edit_loot_machine_path(@loot_machine)
.button= link_to t('.back_to_index'), loot_machines_path

%div.loot_machine
  %h3.first= t('loot_machines.attributes.description')
  .description= @loot_machine.description

  %h3= t('.console')
  = render_widget "loot_machine_console_#{@loot_machine.id}", :display, :user => current_user, :loot_machine_id => @loot_machine.id

